:root {
  --pink-accent: #F29FC3;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* a {
  color: inherit;
  text-decoration-color: var(--pink-accent);
  text-transform: lowercase;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  min-height: 90vh;
  background: #fff;
  background-image: radial-gradient(#eee 20%, transparent 0), radial-gradient(#eee 20%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;
  padding: 2em 7.5em;
}

header .intro-container {
  border: 5px solid var(--pink-accent);
  border-radius: 1em;
  padding: 1em;
  min-height: calc(90vh - 4em);
  display: flex;
  align-items: center;
}

header .intro-container #intro-loader {
  color: var(--pink-accent);
  transition: opacity 1s;
  opacity: 1;
}

header .intro-container #intro-loader.fade {
  animation: blink 2s infinite forwards;
}

header .intro-container a {
  color: inherit;
  text-decoration-color: var(--pink-accent);
}

header .intro-container .intro-text {
  width: 75%;
  margin-left: 6.5em;
}

header .intro-container .intro-text h1 {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  margin: 0.25em 00;
}

header .intro-container .intro-image {
  width: 50%;
  padding: 1em;
  text-align: center;
}

header .intro-container .intro-image img {
  width: 50%;
  border-radius: 50%;
}

nav {
  height: 10vh;
  padding: 1em 7.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: inherit;
  text-decoration-color: var(--pink-accent);
  text-transform: lowercase;
  margin: 0 1em;
}

main section {
  margin: 0em 7.5em;
  padding: 2em 0;
}

.sites-container h2 {
  margin: 0;
}

.site {
  display: flex;
  margin: 0em 7.5em;
  padding: 2em 0;
}

.site + .site {
  border-top: 5px solid var(--pink-accent);
}

.site .site-image {
  margin-right: 1em;
}

.site-image img {
  width: 100%;
  filter: grayscale(1);
  transition: filter .3s;
}

.site-image img:hover {
  filter: grayscale(0)
}

.site .site-text {
  padding: 0em 1em;
  width: 65%;
}

.site-text h3 {
  text-transform: uppercase;
  color: var(--pink-accent);
  margin-top: 0;
}

.site-stack li {
  list-style: none;
  padding: 0.5em;
  border: 1px solid grey;
  display: inline-block;
  margin: 0 8px 16px 0;
  font-size: 11px;
  text-transform: uppercase;
}

.section-break {
  height: 45vh;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center
}

.section-break.work {
  background-image: url("https://raw.githubusercontent.com/jemimaabu/jemimaabu.com/master/static/images/typing.jpg");
  background-position: center;
}

footer {
  width: 100%;
  padding: 2em 7.5em;
  border-top: 1px solid var(--pink-accent);
  display: flex;
  justify-content: space-between
}

footer .links a {
  color: inherit;
  text-transform: lowercase;
  text-decoration-color: var(--pink-accent);
}

footer .links a + a {
  margin-left: 1em;
}

@media (max-width: 950px) {
  .site {
    margin: 0em;
  }
}

@media (max-width: 700px) {
  header {
    padding: 2em;
  }

  header .intro-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  header .intro-container .intro-text {
    width: 100%;
    margin-left: 0;
  }

  header .intro-container .intro-text h1,
  header .intro-container .intro-text h2 {
    text-align: center;
  }

  header .intro-container .intro-text p {
    text-align: justify;
  }
  
  header .intro-container .intro-image {
    width: 100%;
    padding: 0;
  }

  nav {
    height: auto;
  }

  main section {
    margin: 0em;
    padding: 2em;
  }

  .site {
    flex-direction: column
  }

  .site .site-image {
    margin-right: 0em;
  }

  .site .site-text {
    width: 100%;
    padding: 1em 0;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
}

@keyframes blink {
  from {opacity: 1;}
  75% {opacity: 1;}
  to {opacity: 0;}
}