:root {
  --pink-accent: #F29FC3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  min-height: 90vh;
  background: #fff;
  background-image: radial-gradient(#eee 20%, transparent 0), radial-gradient(#eee 20%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;
  padding: 2em 7.5em;
}

header .intro-container {
  border: 5px solid var(--pink-accent);
  border-radius: 1em;
  padding: 1em;
  min-height: calc(90vh - 4em);
  display: flex;
  align-items: center;
}

header .intro-container #intro-loader {
  color: var(--pink-accent);
  transition: opacity 1s;
  opacity: 1;
}

header .intro-container #intro-loader.fade {
  animation: blink 2s infinite forwards;
}

header .intro-container a {
  color: inherit;
  text-decoration-color: var(--pink-accent);
}

header .intro-container .intro-text {
  width: 75%;
  margin-left: 6.5em;
}

header .intro-container .intro-text h1 {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  margin: 0.25em 00;
}

header .intro-container .intro-image {
  width: 50%;
  padding: 1em;
  text-align: center;
}

header .intro-container .intro-image img {
  width: 50%;
  border-radius: 50%;
}

nav {
  height: 10vh;
  padding: 1em 7.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: inherit;
  text-decoration-color: var(--pink-accent);
  text-transform: lowercase;
  margin: 0 1em;
}

.section-break {
  height: 45vh;
  background-attachment: fixed;
  background-size: contain;
}

.section-break.work {
  background-image: url("https://raw.githubusercontent.com/jemimaabu/jemimaabu.com/master/static/images/typing.jpg");
}

footer {
  width: 100%;
  padding: 2em 7.5em;
  border-top: 1px solid var(--pink-accent);
  display: flex;
  justify-content: space-between
}

footer .links a {
  color: inherit;
  text-transform: lowercase;
  text-decoration-color: var(--pink-accent);
}

footer .links a + a {
  margin-left: 1em;
}

@media (max-width: 700px) {
  header .intro-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  header .intro-container .intro-text {
    width: 100%;
    margin-left: 0;
  }

  header .intro-container .intro-text h1,
  header .intro-container .intro-text h2 {
    text-align: center;
  }

  header .intro-container .intro-text p {
    text-align: justify;
  }
  
  header .intro-container .intro-image {
    width: 100%;
    padding: 0;
  }

  nav {
    height: auto;
  }
}

@keyframes blink {
  from {opacity: 1;}
  75% {opacity: 1;}
  to {opacity: 0;}
}