:root {
  --pink-accent: #F29FC3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  min-height: 90vh;
  background: #fff;
  background-image: radial-gradient(#eee 20%, transparent 0), radial-gradient(#eee 20%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;
  padding: 2em;
}

header .intro-container {
  border: 5px solid var(--pink-accent);
  border-radius: 1em;
  padding: 1em;
  min-height: calc(90vh - 4em);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header .intro-container #intro-loader {
  color: var(--pink-accent);
  transition: opacity 1s;
  opacity: 1;
}

header .intro-container #intro-loader.fade {
  animation: blink 2s infinite forwards;
}

header .intro-container a {
  color: inherit;
  text-decoration-color: var(--pink-accent);
}

header .intro-container .intro-text {
  width: 75%;
  margin-left: 5em;
}

header .intro-container .intro-text h1 {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  margin: 0.25em 00;
}

header .intro-container .intro-image {
  width: 50%;
  padding: 1em;
  text-align: center;
}

header .intro-container .intro-image img {
  width: 50%;
  border-radius: 50%;
}

@media (max-width: 700px) {
  header .intro-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  header .intro-container .intro-text {
    width: 100%;
    margin-left: 0;
  }

  header .intro-container .intro-text h1,
  header .intro-container .intro-text h2 {
    text-align: center;
  }

  header .intro-container .intro-text p {
    text-align: justify;
  }
  

  header .intro-container .intro-image {
    width: 100%;
    padding: 0;
  }
}

@keyframes blink {
  from {opacity: 1;}
  75% {opacity: 1;}
  to {opacity: 0;}
}